<h1 class="mb-3 mt-5">Cadastrar</h1>

<form action="/signup" method="post">
    <input name="username" type="text" class="form-control" placeholder="Usuário" required autofocus>
    <input name="password" type="password" class="form-control mb-3 mt-3" placeholder="Senha" required>
    <input type="submit" value="Sign up" class="btn btn text-white btn-block mb-3 mt-2" style="background-color:#ff4d6d  ;">
</form>